nav.flex-nav {
  @include displayFlex;
  height: $nav-height;
  div.logo-wrapper {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span.logo-text {
      padding: 0.5rem 1rem;
      border-radius: $border-radius;
      background: $Red;
      color: $White;
      font-weight: bold;
    }
  }
  ul.links-wrapper {
    margin-bottom: 0;
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
}
